<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cansplex alarm system</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/dataTable.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" /> -->
</head>
<body>
    <header>
        <div class="wrapper">
            <h1>오늘날을 기준으로 30일 안에 해당하는 유지보수,호스팅,도메인 만료 업체 현황입니다.</h1>
        </div>
    </header>

    <div class="now-status">
        <div class="wrapper">
            <strong>TODAY : <b id="today"></b></strong>
            <span>유지보수 만료: <b id="s_manage">0</b></span>
            <span>도메인 만료: <b id="s_domain">0</b></span>
            <span>호스팅 만료: <b id="s_hosting">0</b></span>
            <span>제작중: <b id="s_inproduction">0</b></span>
            <span>Error: <b id="s_error">0</b></span>
        </div>
    </div>

    <div class="contents">
        <div class="wrapper">
            
            <p class="warning">해당 페이지는 <b>[ 2020년 영상웹 계약 현황 ]</b> 구글 스프레드시트의 <b>[ 홈페이지 관리 ]</b> 시트와 연동되어 있습니다.<br>
                구글 스프레드시트를 조건에 맞지 않게 수정 할 경우 해당 프로그램이 제대로 작동하지 않을 수 있으니 주의해주세요.  </p>
            <div class="cansplex-table">
                <div class="field">
                    <h2 class="title">#유지보수 만료</h2>
                    <table class="table table-manage">
                        <colgroup>
                            <col style="width:20%;">
                            <col style="width:120px">
                            <col style="width:15%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>업체명</th>
                                <th>계약 만료일</th>
                                <th>담당자</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody id="manage"><tr><td colspan="4"><div class="animation"><div class="anim7"></div></div></td></tr></tbody>
                    </table>
                </div>
                <div class="field">
                    <h2 class="title">#도메인 만료</h2>
                    <table class="table table-domain">
                        <colgroup>
                            <col style="width:20%;">
                            <col style="width:130px">
                            <col style="width:15%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>업체명</th>
                                <th>도메인 만료일</th>
                                <th>담당자</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody id="domain"><tr><td colspan="4"><div class="animation"><div class="anim7"></div></div></td></tr></tbody> 
                    </table>
                </div>
                <div class="field">
                    <h2 class="title">#호스팅 만료</h2>
                    <table class="table table-hosting">
                        <colgroup>
                            <col style="width:20%;">
                            <col style="width:130px">
                            <col style="width:15%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>업체명</th>
                                <th>호스팅 만료일</th>
                                <th>담당자</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody id="hosting"><tr><td colspan="4"><div class="animation"><div class="anim7"></div></div></td></tr></tbody>
                    </table>
                </div>
                <div class="field">
                    <h2 class="title">#제작중</h2>
                    <table class="table table-inproduction">
                        <colgroup>
                            <col style="width:20%;">
                            <col style="width:15%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>업체명</th>
                                <th>담당자</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody id="inproduction"><tr><td colspan="3"><div class="animation"><div class="anim7"></div></div></td></tr></tbody>
                    </table>
                </div>
                <div class="field">
                <h2 class="title">#Error</h2>
                <p class="warning">아래 테이블 내용은 구글 스프레드시트에서 수정이 필요하거나  값을 잘못넣었을 경우 발생하는 에러입니다. 구글 스프레드시트를 올바르게 수정해주세요.</p>
                <table class="table table-error">
                    <colgroup>
                        <col style="width:120px">
                        <col style="width:20%;">
                        <col style="width:120px">
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>상태</th>
                            <th>업체명</th>
                            <th>담당자</th>
                            <th>비고</th>
                            <th>알림</th>
                        </tr>
                    </thead>
                    <tbody id="error"><tr><td colspan="5"><div class="animation"><div class="anim7"></div></div></td></tr></tbody>
                </table>
                </div>
            </div>
        </div>    
    </div>

    <div class="popup">
        <div class="popup__overlay">
            <div class="popup__inner">
                <div class="popup__cont">
                    <div class="popup__container"></div>
                </div>
            </div>
        </div>
    </div>

    <script>


        $(document).ready(function(){
            getTimes('LL', function(time){
                $('#today').html(time);
            });
            getDatas();
        });
      
        let ALLDATA = [];
        // init datas
        const COMPARE_DAYS = 30; //비교날짜 (한달)

        const STRING_NUMBER = '번호';
        const STRING_STATUS = '관리상태';
        const STRING_NAME = '업체명';
        const STRING_MANAGE = '담당자';
        const STRING_STATUS_END = '중단';
        const STRING_END_HOSTRING_DATE = '호스팅\n만료일';
        const STRING_END_DOMAIN_DATE = '도메인\n만료일';
        const STRING_END_COMPANY_DATE = '관리\n종료일';
        const STRING_IN_PRODUCTION = '제작중';
        const STRING_LOG = 'LOG';
        const STRING_ETC = '비고';

        const STRINGS = {
            empty: '데이터가 비어있습니다.',
            wrong: '날짜 형식이 잘못되었습니다.',
            modify: '관리 종료일이 이미 지났습니다. 확인 후 구글 스프레드시트를 수정해주세요.'
        }

        let THEAD = null;
        let KEYS_NUMBER = null;
        let KEYS_NAME = null;
        let KEYS_MANAGE = null;
        let KEYS_STATUS = null;
        let KEYS_ENDCOMPANY = null;
        let KEYS_ENDHOSTRING = null;
        let KEYS_ENDDOMAIN = null;
        let KEYS_ETC = null;

        function getTimes(formatString, callback){
            $.ajax({
                type:'GET',
                url: '/getTime',
                dataType: 'json',
                data: {data: formatString},
                success: function(resultData){
                    callback(resultData?.data);
                },
                error: function(error){
                    console.error(error);
                }
            });
        }

        function getDatas(){
            $.ajax({
                type:'GET',
                url: '/addEvent',
                dataType: 'json',
                success: function(resultData){
                    ALLDATA = resultData?.data?.values;
                    organizeData(resultData);
                    $('.table').DataTable({
                        lengthMenu: [20, 50, 100, 200, 500],
                    });

                    $('[data-pk]').on('click', function(){
                        $('html, body').css({overflow:'hidden'});
                        showPopup($(this).data('pk'));
                    });

                },
                error: function(error){
                    console.error(error);
                }
            });
        }

        function _findKeyNumber(string){
            let returnVal = null;
            THEAD.map(function(r,i){ 
                if(String(r) == string){  returnVal = i; }
            });
            return returnVal;
        }

        function _getThead(dataArr){
            let arr = null;
            dataArr.map(function(r){ 
                if(r[0] == STRING_NUMBER){ arr = r; } 
            });
            return arr;
        }

        function organizeData(data){
            let dataArray = data.data.values;

            let data_endCompany = []; //계약종료된 업체
            let data_company  = []; //계약중인 업체

            THEAD = _getThead(dataArray);
            KEYS_NUMBER = _findKeyNumber(STRING_NUMBER); //key 0 - 번호
            KEYS_STATUS = _findKeyNumber(STRING_STATUS); //key 19 - 중단인지 아닌지
            KEYS_NAME = _findKeyNumber(STRING_NAME); //key 1 - 업체명
            KEYS_MANAGE = _findKeyNumber(STRING_MANAGE); // 담당자
            KEYS_ENDCOMPANY = _findKeyNumber(STRING_END_COMPANY_DATE); //관리 종료일 key
            KEYS_ENDHOSTRING = _findKeyNumber(STRING_END_HOSTRING_DATE); //호스팅 종료일 key
            KEYS_ENDDOMAIN = _findKeyNumber(STRING_END_DOMAIN_DATE); //도메인 종료일 key
            KEYS_ETC = _findKeyNumber(STRING_ETC); //비고

            // 데이터 분기
            (function(){
                dataArray.map(function(r){
                    if(r[KEYS_NUMBER] != STRING_NUMBER){
                        if(r[KEYS_STATUS] == STRING_STATUS_END){ // 관리상태
                            data_endCompany.push(r);	
                        }else{
                            data_company.push(r);
                        }
                    }
                });
            })();

            function _makeDateString(row, KEYS_NAME ,MODIFY_DATA, ERROR_DATA, STRING_DATE ,INPRODUCTION_DATA){
                let stringDate = row[KEYS_NAME];
                if(
                    stringDate == '' ||
                    typeof(stringDate) != 'string' ||
                    stringDate == false
                ){
                    MODIFY_DATA.push({
                        target: row,
                        msg: STRINGS.empty,
                        type: STRING_DATE,
                    });
                    return null;
                }

                let string = stringDate.split('.');
                
                if(string[0] && string[1] && string[2]){ // YYYY-MM-DD 형식으로 변경
                    return '20'+string[0]+'-'+string[1]+'-'+string[2];
                }else{
                    // string 예외처리
                    if(stringDate == STRING_IN_PRODUCTION){ //제작중
                        INPRODUCTION_DATA.push({
                            target: row,
                            type: STRING_DATE,
                        });
                    }
                    
                    if(
                        stringDate != '없음' &&
                        stringDate != '모름' &&
                        stringDate != '병원자체관리' &&
                        stringDate != '가상서버' &&
                        stringDate != '서비스' &&
                        stringDate != STRING_IN_PRODUCTION &&
                        stringDate != '종료시까지'
                    ){
                        // 그외 나머지는 ERROR 처리
                        ERROR_DATA.push({
                            target: row,
                            msg: STRINGS.wrong,
                            type: STRING_DATE,
                        });
                    }

                
                    return null;
                }
            }

            function _checkDate(KEYS_NAME,STRING_DATE){
                const DATA = [];
                const ERROR_DATA = [];
                const MODIFY_DATA = [];
                const INPRODUCTION_DATA = [];

                data_company.map(function(r){
                    let date = _makeDateString(r, KEYS_NAME, MODIFY_DATA, ERROR_DATA, STRING_DATE, INPRODUCTION_DATA);
                    if(date){
                        let today = moment();
                        let endDate = moment(date);
                        // endDate부터 endDate 7일전 날 사이에 today가 포함된다면
                        if( today <= endDate && today >= endDate.subtract(COMPARE_DAYS,'days') ){
                            DATA.push({
                                target: r,
                                value : moment.duration(today.diff(endDate)).asDays()
                            });
                        
                        }else if(today > endDate){ //today가 endDate를 지났을경우
                            MODIFY_DATA.push({
                                target:r,
                                msg: STRINGS.modify,
                                type: STRING_DATE,
                            });
                        }
                    }
                });

                return {
                    data: DATA, 
                    error: ERROR_DATA,
                    modi: MODIFY_DATA,
                    inproduction: INPRODUCTION_DATA,
                };
            }

            let RESULT_DATA = {
                manage : _checkDate(KEYS_ENDCOMPANY, STRING_END_COMPANY_DATE),
                domain : _checkDate(KEYS_ENDDOMAIN, STRING_END_DOMAIN_DATE),
                hosting : _checkDate(KEYS_ENDHOSTRING, STRING_END_HOSTRING_DATE),
            };
            
            createTables(RESULT_DATA);
        }

        function _changeDate(dates){
            let resultDate = '';
            if( dates ){
                let datesSplit = dates.split('.');
                if(Number(datesSplit[1]) < 10){ datesSplit[1] = '0'+Number(datesSplit[1]); }
                if(Number(datesSplit[2]) < 10){ datesSplit[2] = '0'+Number(datesSplit[2]); }
                return resultDate = `20${datesSplit[0]}-${datesSplit[1]}-${datesSplit[2]}`;
            }
        }

        function createTables(RESULT_DATA){

            function addTable(datas, stringType, targetIdString, totalId){
                var html = '';
                let tbodyData = [];
                let finalHtml = '';
                $(totalId).html(datas.length);
                datas.map(function(r){
                    
                    let dataItem = r.target;
                    const pk = dataItem[0];
                    if(stringType == STRING_END_DOMAIN_DATE){ //도메인 종료

                        tbodyData = [
                            `<b>${String(dataItem[KEYS_NAME])}</b>`, 
                            `<span class="text-center">${_changeDate(String(dataItem[KEYS_ENDDOMAIN]))}</span>`, 
                            `<span class="text-center">${String(dataItem[KEYS_MANAGE])}</span>`, 
                            String(dataItem[KEYS_ETC]),
                        ];
                    }
                    if(stringType == STRING_END_HOSTRING_DATE){ //호스팅 종료

                        tbodyData = [
                            `<b>${String(dataItem[KEYS_NAME])}</b>`, 
                            `<span class="text-center">${_changeDate(String(dataItem[KEYS_ENDHOSTRING]))}</span>`, 
                            `<span class="text-center">${String(dataItem[KEYS_MANAGE])}</span>`, 
                            String(dataItem[KEYS_ETC]),
                        ];
                    }
                    if(stringType == STRING_END_COMPANY_DATE){ //유지보수 종료
                        tbodyData = [
                            `<b>${String(dataItem[KEYS_NAME])}</b>`, 
                            `<span class="text-center">${_changeDate(String(dataItem[KEYS_ENDCOMPANY]))}</span>`, 
                            `<span class="text-center">${String(dataItem[KEYS_MANAGE])}</span>`, 
                            String(dataItem[KEYS_ETC]),
                        ];
                    }
                    if(stringType == STRING_LOG){ // ERROR
                        if( r.type == STRING_END_DOMAIN_DATE){ status = '<span class="label label-domain">도메인 만료</span>';}
                        else if( r.type == STRING_END_HOSTRING_DATE ){ status = '<span class="label label-hosting">호스팅 만료</span>';}
                        else if( r.type == STRING_END_COMPANY_DATE ){ status = '<span class="label label-manage">계약 만료</span>';}
                        tbodyData = [
                            status,
                            `<b>${String(dataItem[KEYS_NAME])}</b>`, 
                            `<span class="text-center">${String(dataItem[KEYS_MANAGE])}</span>`, 
                            String(dataItem[KEYS_ETC]),
                            String(r.msg)
                        ];
                    }
                    if(stringType == STRING_IN_PRODUCTION){ //제작중
                        tbodyData = [
                            `<b>${String(dataItem[KEYS_NAME])}</b>`, 
                            `<span class="text-center">${String(dataItem[KEYS_MANAGE])}</span>`,  
                            String(dataItem[KEYS_ETC]),
                        ];
                    }

                    createTbody(tbodyData, pk);
                });

                function createTbody(data, pk){
                    finalHtml += '<tr data-pk="'+pk+'">';
                    data.map((v)=>{finalHtml +=`<td>${v}</td>`;});
                    finalHtml += '</tr>';
                }
                
                $(targetIdString).html(finalHtml);
            }

            addTable(RESULT_DATA.domain.data, STRING_END_DOMAIN_DATE, '#domain', '#s_domain');
            addTable(RESULT_DATA.hosting.data, STRING_END_HOSTRING_DATE, '#hosting', '#s_hosting');
            addTable( RESULT_DATA.manage.data, STRING_END_COMPANY_DATE, '#manage', '#s_manage');
            addTable( RESULT_DATA.manage.inproduction, STRING_IN_PRODUCTION, '#inproduction', '#s_inproduction');
            
            
			let errorDatas = [
                ...RESULT_DATA.domain.modi,
			    ...RESULT_DATA.domain.error,
			    ...RESULT_DATA.hosting.modi,
			    ...RESULT_DATA.hosting.error, 
			    ...RESULT_DATA.manage.modi,
			    ...RESULT_DATA.manage.error
            ];
            
            addTable( errorDatas, STRING_LOG, '#error', '#s_error');
        }
    </script>

    <script>
        function showPopup(pk){
            const $target = $('.popup__container');
            let theadData = ['번호','업체명','담당자','유형','계약일자','제작완료일','유료관리 시작일','관리 종료일','호스팅 만료일','도메인 만료일','SSL인증서 만료일','관리유형','월관리비','현재 관리개월','연관리비','현재 계약 총액','누적 관리개월','누적 계약 총액','입금액','관리상태','비고'];
            let targetData = [];
            ALLDATA.map((v) => {
                if(v[0] == pk){
                    targetData = [...v];
                }
            });

            function _createPopupDom(theadData, targetData){
                let contDom = '';
                theadData.map((v, k) => {

                    let times = targetData[k];

                    if(k == 4 || k == 5 || k == 6 || k == 7 || k == 8 || k == 9|| k == 10){
                        if( targetData[k] ){
                            times = _changeDate(targetData[k]);
                        }else{
                            times = '';
                        }
                        
                    }

                    contDom += `<div class="popup__field">
                        <label class="popup__label">${v}</label>
                        <div class="popup__desc">${times}</div>
                    </div>`
                });
                return contDom;
            }
            $target.parents('.popup').fadeIn(200);
            $target.html(_createPopupDom(theadData, targetData));


            $('.popup').on('click', function(e){
                $t = $(e.target);
                if( !$t.hasClass('popup__cont') && !$t.parents().is('.popup__cont') ){
                    $('html, body').css({overflow:'visible'});
                    $('.popup__container').html('');
                    $('.popup').fadeOut(200);
                }
            });
        }

    </script>
</body>
</html>