<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.button-update{
    padding:0;
    margin:0;
    outline:none;
    display:block;
    width:300px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:14px;
    font-weight:400;
    background-color:rgb(158, 40, 255);
    color:#fff;
    border-radius: 3px;
    margin:0 auto;
    cursor:pointer;
    border:0;
}
.button-update:hover{
    background-color:rgb(118, 54, 170);
}
.update-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.update-box__title{
    font-size:.875rem;
    font-weight:400;
    line-height:1.6;
    text-align:center;
    padding:1em 0;
    color:#333;
    display:block;
}
.update-box__password{
    padding:0;
    margin:0;
    outline:none;
    display:block;
    width:300px;
    height:50px;
    padding:1em;
    box-sizing:border-box;
    font-size:14px;
    font-weight:400;
    border-radius: 3px;
    margin:0 auto;
    border:1px solid #ddd;
}
.info-area{
    font-size:.875rem;
    display:block;
    text-align:center;
    padding:1em 0;
    color:red;
}
    </style>
</head>
<body>
    <form>
        <div class="update-box">
            <strong class="update-box__title">데이터를 업데이트 하기 위해서는<br>비밀번호가 필요합니다.</strong>
            <input id="update-password" class="update-box__password" type="password" name="update-password" placeholder="비밀번호를 입력하세요." />
            <button type="submit" id="button-update" class="button-update">UPDATE DATA</button>
            <span class="info-area"></span>
        </div>
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('#button-update').on('click', function(e){
            e.preventDefault();
            if($('#update-password').val() == ''){
                alert('비밀번호를 입력해주세요.');
                $('#update-password').focus(); 
                return false;
            }

            let datas = {
                pwd: $('#update-password').val(),
            }
            
            $.ajax({
                type:'GET',
                url: '/addEvent',
                dataType: 'json',
                data: datas,
                success: function(result){
                    $('.info-area').html(result.msg);
                },
                error: function(error){
                    console.error(error);
                }
                
            })
        });
    
    </script>
</body>
</html>