header{
    padding:2em 0;
    background-color:#333;
    border-bottom:1px solid #ddd;
}

header h1{
    font-size:15px;
    color:#fff;
}
.cansplex-table{
    padding-top:2em;
}
.contents{
    padding:50px 0;
}
.table{
    width:100%;
}
.table th{
    background-color:rgb(66, 71, 121);
    color:#fff;
}
.table th,
.table td{
    padding:5px;
    font-size:14px;
    border-bottom:1px solid #eee;
    line-height:1.4;
}
.table th b,
.table td b{
    font-weight:600;
    font-size:14px;
}
.text-center{
    display:block;
    text-align:center;
    font-size:14px;
}
.wrapper{
    max-width:1400px;
    width:90%;
    margin:0 auto;
}
.title{
    font-size:1.5rem;
    font-weight:600;
    display:block;
    margin-bottom:1em;
}
.field{
    margin:30px 0;
}

.dataTables_info{
    display:none;
}

.label{
    display:inline-block;
    padding:.25em .5em;
    font-size:12px;
    color:#fff;
    border-radius: 3px;
}
.label-domain{
    background-color:rgb(232, 109, 109);
}
.label-hosting{
    background-color:rgb(106, 156, 202);
}
.label-manage{
    background-color:rgb(142, 206, 77);
}
.now-status{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:1.5em 0;
}
.now-status span{
    display:inline-block;
    font-size:12px;
    font-weight:300;
    margin:0 .5em;
}
.now-status b{
    font-size:13px;
    font-weight:600;
}
.now-status strong{
    display:inline-block;
    padding:.35em .5em;
    background-color:rgb(238, 62, 62);
    color:#fff;
    font-size:14px;
    border-radius: 5px;
}


/* loading  */
.animation {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2em 0;
  }
  .anim7 {
    width: 24px;
    height: 24px;
    border-top: 2px solid rgb(76, 99, 106);
    border-right: 2px solid rgb(94, 121, 133);
    -webkit-animation: anim7 1s ease infinite;
            animation: anim7 1s ease infinite;
    border-radius: 100%;
  }
  @-webkit-keyframes anim7 {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes anim7 {
    to {
      transform: rotate(360deg);
    }
  }


  [data-pk]{
      cursor:pointer;
  }
  [data-pk]:hover{  
      background-color:#eee;
  }

/*  popup */
  .popup{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display:none;
    
  }
  .popup__overlay{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    display: block;
    width:100%;
    height: 100%;
    background: rgba(14,42,71,.5);
    z-index: 100;
    
  }
  .popup__inner{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
  }
  .popup-close{
    transition:all .3s;
    position:fixed;
    top:1em;
    right:2em;
    width:50px;
    height:50px;
    cursor:pointer;
    text-align: center;
    line-height:50px;
    background-color:#fff;
    border-radius: 50%;
  }
  .popup-close:after{
    content: "\00d7"; 
    color:#111;
    font-size:20px;
    font-weight:200;
  }
  .popup-close:hover{
      transform:scale(1.1) rotate(180deg);

  }

  .popup__cont{
      margin-top:1em;
      margin-left:auto;
      margin-right:auto;
      background-color:#fff;
      padding:1em;
      box-sizing:border-box;
      width:70%;
      max-width:700px;
  }
  .popup__field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    
  }
  .popup__field:hover .popup__label,
  .popup__field:hover .popup__desc{
    font-weight:600;
    letter-spacing: -.5px;
  }
  .popup__label{
    width: 30%;
    padding-right: 2em;
    text-align: right;
    font-size:14px;
    font-weight:300;
    color:#111;
  }
  .popup__desc{
    font-size: 14px;
    font-weight:300;
    width:80%;
    color:#111;
  }

  .warning{
      font-size:12px;
      padding:2em 1em;
      border:1px solid rgba(232, 109, 109, .3);
      box-sizing:border-box;
      background-color:rgba(232, 109, 109,.2);
      border-radius: 5px;
      font-weight:300;
      line-height:1.4;
      color:#111;
      margin-bottom:1em;
  }

  .warning b{
      font-size:12px;
      font-weight:600;
  }